@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;text-align: center;

}
body{
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left -250px top -600px, right -250px bottom -600px;
    background-color: hsl(185, 75%, 39%);
    height: 100vh;
    min-height:40rem ;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width:90%;
    max-width:20rem;
    height:30rem;
    border-radius: 10px;
    overflow: hidden;
}
.upperpart{
    height:80%;
    border-bottom: solid 1px hsl(0, 0%, 59%);
    background-image:url(images/bg-pattern-card.svg);
    background-size: 100% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.image{
    margin-top: 9rem;
}
.image img{
    border: solid 7px white;
    border-radius: 100%;
}
.name{
    margin-top:1rem;
}
.location{
    margin-top: 0.5rem;
}
h1{
    font-size:1.2rem;
    font-weight:700;
    color:hsl(229, 23%, 23%);
}
span,p{
    color:hsl(227, 10%, 46%);
    font-weight:400;
}
.lowerpart{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
